@model MVC3.Models.Datos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarProductos</title>
</head>
<body>
    <div>
        <h3>Producto</h3>
        <label>Descripcion es: @Model.descripcion</label><br/>
        <label>Cantidad es: @Model.cantidad</label><br/>
        <label>Precio es: @Model.precio</label><br/>

    </div>
</body>
</html>
