

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <select>

            <option>Cliente</option>

        </select>
        <select>

            <option>Pelicula</option>

        </select>
    </div>
</body>
</html>
